*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Exo 2', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 8px 200px;
}
header>nav{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}
header>nav>a{
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: 750;
    font-size: 20px;
}
#logo{
    width: 140px;
}
footer{
    display: flex;
    background-color: black;
    justify-content: center;
}
footer>p{
    color: white;
}
main{
    padding: 0 20vw;
}
ol{
    list-style: decimal;
}
li{
    list-style-position: inside;
}
h1{
    display: flexbox;
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 60px;
}
.rollingBikes{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}
.rollingBike{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rollingBike>h2{
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.rollingBike>img{
    height: 11vw;
    width: 15vw;
}
.rollingBike>p{
    align-self: self-start;
}
.rollingBike>ol{
    margin-top: 20px;
}
.info{
    margin-bottom: 50px;
}
.conditions>ol{
    margin-top: 20px;  
    margin-bottom: 20px;
}
