*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Exo 2', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 8px 200px;
}
header>nav{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}
header>nav>a{
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: 750;
    font-size: 20px;
}
#logo{
    width: 140px;
}
footer{
    display: flex;
    background-color: black;
    justify-content: center;
}
footer>p{
    color: white;
}
.mainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.navigation_buttons{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px;
    padding: 10px 300px;
    border-radius: 20px;
}
.navigation_button{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.button_image{
    width: 70px;
    padding: 20px;
    background-color: red;
    border-radius: 50%;
}
.button_image>img{
    width: 100%;
}
.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    z-index: -2;
    background: url("../Images/Main/Background.jpg") center/cover;
}
.dox{
    width: 100vw;
    background-color: white;
}
.doxText{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}